.login {
  max-width: 500px;
  margin: 200px auto;
  background: #f6f4f4;
  padding: 40px;
  border: 1px solid #dcdcdc;
  &__heading {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  &__form {
    display: flex;
    align-items: center;
    justify-content: space-around;
    &__action {

    }
  }
}
