<div class="votes-page">
  <div class="votes-page__header">
    <a class="votes-page__header__title" routerLink="/votes">
      Frameworks War
    </a>
    <div class="votes-page__header__profile" *ngIf="user$ | async as user">
      <img class="votes-page__header__profile__img" [src]="user.photoURL">
      <div class="votes-page__header__profile__name">
        {{user.displayName}}
      </div>
    </div>
    <button (click)="logOut()" class="votes-page__header__logout btn btn-dark">
      Logout
    </button>
  </div>
  <div class="votes-page__container">
    <router-outlet></router-outlet>
  </div>
</div>
